body{
    background: green;
}
h1{
    color: white;
    font-size: 30px;
}
.p-class{
    color:goldenrod;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    border-radius: 7px;
    background-color: antiquewhite;
}

#p-id{
    color: rgb(235, 64, 64);
    font-weight: 900;
    padding: 15px;
    border-radius: 7px;
    background-color: aqua;

}